.tool
{
  float:left;
  padding-left: 0px;
  margin-bottom: 3px;
}

.toolfirst
{
  margin-left:10px;
}

.description
{
  clear: left;
  padding-bottom: 0px;
  float:left;
}

body
{
  margin-top:5px;
}

.control-label
{
   text-align:left !important;
}

.tool .btn, .standartbutton
{
  min-width:130px;
}

.back
{
  margin-top:5px;
  margin-bottom:5px;
}

#tooltip
{
  clear:both;
  padding-top:10px;
}

#validation
{
	margin-left:5px;
  margin-right:5px;
}

.form-group {
    margin-bottom: 5px !important;
}


.edit
{
  float:left; 

}

.res
{
  float:left;
  margin-left:10px;
}

.var, .func, .variant
{
  float:left;
  margin-left:10px;
}

.varminim
{
  float:left;
}


.modal-dialog
{
  margin: 5px auto !important;
}

.waitfullload, .promptresult, .waitelement, .waitasyncload, .httpclientget, .httpclientdownload, .httpclientreset, .isloaded, .getstatus, .cachemaskallow,.cachemaskdeny,.cachemaskclear,.requestmaskallow,.requestmaskdeny,.requestmaskclear,.clearcache,.clearrequests, .html, .getcookiesforurl, .openfile, .reset, .moveelement,.moveandclickelement, .clickelement, .length, .set_attr, .attr, .set_random, .set_integer, .set, .focus, .check, .style, .exist, .clear, .load, .url, .xml, .log, .setvariable, .if, .while, .executefunction, .for, .sleep, .resize, .click, .move, .moveandclick, .break, .continue, .success, .fail, .text, .foreach
{
  padding-top:35px;
}

.container-fluid {
    padding-left: 0px !important;
  }

.mainscreen
{
  margin-left:10px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.specialletter
{
  min-width:65px;
  margin-bottom:5px;
}

#executetype
{
  float:right;
}

#executetype button
{
   outline: none !important;
}

#NoResources
{
  display:none;
}

.variable-input
{
  text-transform: uppercase;
}

.path
{
   position:absolute;
   top:5px;
   right:0px;
   width:350px;
   float: right !important;
}

#selector-number1
{
  display:none;
}

#selector-number2
{
  display:none;
}

.toolbutton
{
  margin-right:15px;
}

#IfElse, #Check, #Check2, #Check3, #Check4, #Check5
{
  margin-left:20px;
}

.tooltipinternal
{
  margin-left:30px;
}

.addtopost
{
  margin-left:20px;
}

.res-margin
{
  margin-right:30px;
  margin-top:10px;
  color:gray !important;
  font-weight: lighter !important;
}

#containerdata
{
  margin-top:4px;
}

.use-waiter-disabled
{
  color:#31708f !important; 
  opacity: 0.4;
}

.use-waiter-enabled
{
  color:#31708f !important; 
  opacity: 1.0;
}

#use-waiter
{
  font-size: 16px;
  line-height: 16px;
  margin-right:5px;
}


.mytooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}.mytooltip.in{filter:alpha(opacity=90);opacity:.9}.mytooltip.top{padding:5px 0;margin-top:-3px}.mytooltip.right{padding:0 5px;margin-left:3px}.mytooltip.bottom{padding:5px 0;margin-top:3px}.mytooltip.left{padding:0 5px;margin-left:-3px}.mytooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;background-color:#000;border-radius:4px}.mytooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.mytooltip.top .mytooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.mytooltip.top-left .mytooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.mytooltip.top-right .mytooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.mytooltip.right .mytooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.mytooltip.left .mytooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.mytooltip.bottom .mytooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.mytooltip.bottom-left .mytooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}.mytooltip.bottom-right .mytooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}

.btn:focus {
  outline: none;
}

.searchbar
{
  width:100%;
  height:42px;
  padding-top:3px;
  padding-left:12px;
  padding-right:12px;
}

.toolbutton-searchfailed
{
  color:gray !important;
}