400 ICON DISCARDABLE "Logo.ico"
501 BITMAP "up.bmp"
502 BITMAP "down.bmp"
503 BITMAP "left.bmp"
504 BITMAP "right.bmp"
505 BITMAP "devtools.bmp"
506 BITMAP "scenario.bmp"
507 BITMAP "ready.bmp"
508 BITMAP "hold.bmp"
509 BITMAP "finished.bmp"
510 BITMAP "devtoolsgray.bmp"
511 BITMAP "scenariogray.bmp"
512 BITMAP "Minimize.bmp"
513 BITMAP "Maximize.bmp"
514 BITMAP "Settings.bmp"
515 BITMAP "hold90.bmp"
516 BITMAP "upup.bmp"
517 BITMAP "downdown.bmp"
518 BITMAP "leftleft.bmp"
519 BITMAP "rightright.bmp"
